html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  background: #039BE5;
  color: white;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

div.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  max-width: 640px;
  min-width: 240px;
}

img.responsive {
  height: auto;
  width: 100%;
}

ul.icon-menu {
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    font-size: 3em;
    margin-left: 10px;
    margin-right: 10px;

    a {
      color: white - #222;
      transition: color .4s ease-in;

      &:hover {
        color: white;
      }
    }
  }
}

.fanpage-cloudbans-icon:before {
  content: "\f09a";
}

.twitter-cloudbans-icon:before {
  content: "\f099";
}

.site-footer a {
  color: rgba(255, 255, 255, .8);
  text-decoration: none;
}
